/*stylesheet*/

/* vars */
:root {
	-- background-color: #fff;
	-- body-color: #111;
}

body {
	margin:  0;
	color: var(--body-color);
	background: var(--background-color);
	font-family: "Papyrus", fantasy;
}
/* home page buttons */
/* put backgroud: skyblue; to see them */
.button1 {
  z-index: 3;
 	background: red;
  position: absolute;
  width:  11%;
  height: 8%;
  top: 35%;
  left:  22%;
  opacity:0.2

}
.button2 {
  z-index: 3;
 background: red;
  position: absolute;
  width:  11%;
  height: 8%;
  top: 20%;
  left:  40%;
  opacity:0.2
}

.button3 {
  z-index: 3;
  background: red;
  position: absolute;
  width:  15%;
  height: 8%;
  top: 33%;
  left:  58%;
  opacity:0.2
}


.button4 {
  z-index: 3;
  background: red;
  position: absolute;
  width:  11%;
  height: 8%;
  top: 50%;
  left:  62%;
  opacity:0.2
}

.button5 {
  z-index: 3;
  background: red;
  position: absolute;
  width:  8%;
  height: 8%;
  top: 68%;
  left:  58%;
  opacity:0.2
} 

.button6 {
  z-index: 3;
  background: red;
   position: absolute;
  width:  14%;
  height: 8%;
  top: 80%;
  left:  39%;
  opacity:0.2
}

.button7 {
  z-index: 3;
 background: red;
  position: absolute;
  width:  3%;
  height: 8%;
  top: 68%;
  left:  30%;
  opacity:0.2
} 

.button8 {
  z-index: 3;
  background: red;
  position: absolute;
  width:  7%;
  height: 8%;
  top: 52%;
  left:  18%;
  opacity:0.2
} 

.button9 {
  z-index: 3;
  background: red;
  position: absolute;
  width:  15%;
  height: 25%;
  top: 40%;
  left:  38%;
  opacity:0.2
} 


  h1 {
  color: lightyellow;
  text-align: center;
  margin-bottom: 75px;
}

 p {
  color: lightyellow;
  text-align: center;
  margin-bottom: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}



  #wrapper {
  	margin: 0 auto;
  	max-width: 1200px;
  }

/*the pit */
a:hover {
  color: darkred;

}

.thepit {
	  color: lightyellow;
  text-align: center;
  margin-bottom: 25px;

  margin-right: 200px;
  margin-left: 200px;
}
 /*me*/ 
 .me {
	  color: lightyellow;
  text-align: center;
  margin-bottom: 25px;
margin-top: 100px;
  margin-right: 200px;
  margin-left: 200px;
}

.merow {
  display: flex;
}

.mecolumn {
  flex: 33.33%;
  padding: 5px;
}

/*myvideo*/

.my {
	margin-bottom: 25px;
margin-top: 275px;
  margin-right: 450px;
  margin-left: 475px;
}

/*documentsme*/

.myreport {
	margin-top: 100px;
	margin-left: 350px;
	width: 50%;
	height: 85%;
}


/*history*/

.historytxt {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
margin-bottom: 25px;
color: cornsilk;
}

.historytxtskull {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
margin-bottom: 45px;
color: darkred;
font-size: 175px;
text-align: center;

}

.historyimg {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 75%;

  }
.historyimgskull {
float: left;
  display: block;
  margin-left: 200px;
 
  }

.homepic {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

a.history:hover { 
	color: darkred;
}



/*welcome 2 2007 */

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.emergencbutton {
background-color: darkred;
  z-index: 3;
   position: absolute;
  width:  20%;
  height: 30%;
  top: 80%;
  left:  40%;
  opacity:0.3;

  transition-duration: 0.4s;
}

.emergencbutton:hover {
  background-color:darkblue;
  color: white;
  opacity: 0.3;
}

/*2007*/

.twotext {
	font-family: Garamond, serif;
margin-bottom: 25px;
color: darkred;
text-align: center;
font-size: 100px;
}

.twonumbers {
	font-family: Garamond, serif;
margin-bottom: 25px;
color: darkred;
text-align: center;
font-size: 30px;
}


.heart1 {
	float: right;


}
.heart2 {
	float: left;
}

.datexp {
	font-family: Garamond, serif;
margin-bottom: 25px;
color: royalblue;
text-align: center;
font-size: 30px;
}
/*happy 4th*/

.puppy1 {
	float: left;
}

.puppy2 {
	float: right;

}

.fourthtxt {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 40px;
margin-bottom: 25px;
color: darkslateblue;
} 

.garfield {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.clck  {
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

}

/*report*/
.reporttxt {
	font-family: Garamond, serif;
margin-bottom: 25px;
color: black;
text-align: left;
font-size: 16px;
}

/*wildlife*/
.wildlife {
	float: right;
	position: fixed; 
	bottom: 0px; 
	right: 0px;
}

.wildtxt {
		font-family: "Comic Sans MS", "Comic Sans", cursive;
margin-bottom: 25px;
color: cornsilk;
text-align: left;

}

/*updating*/

.updatetxt {
		font-family: "Comic Sans MS", "Comic Sans", cursive;
margin-bottom: 25px;
color: cornsilk;
text-align: center;

}

.pucca {

	display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;

}

.abtmetxt {
font-family: Garamond, serif;
margin-bottom: 25px;
color: whitesmoke;
text-align: right;
font-size: 16px;

}